page-dialer {
  .outer-content {
    background: url('../assets/imgs/momo.jpeg') no-repeat center center fixed !important;
    background-size: 100% !important;
    background-color: #f7f7f7 !important;
  }
}

